*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EEE;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

input{
    display: block;
    width: 100%;
    background-color: #FFF;
    padding: 12px 16px;
    font-size: 18px;
    color: #888;
}

.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    display: flex;
    padding-top: 128px;
    padding-bottom: 32px;
    background-color: #8C38FF;
    background-image: linear-gradient(to bottom, #8C38FF,#6317ce);
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.15);
    padding-left:   16px;
    padding-right: 16px;
}